@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vut, .fekt {
        font-weight: bolder;
        text-decoration: none;
    }
    /* vut a tag */
    a.vut:link {
        color: red;
    }
    a.vut:visited {
        color: #ff1f2a;
    }
    a.vut:hover {
        color: #850007;
    }
    a.vut:active {
        color: #ff1f2a;
    }

    /* fekt a tag */
    a.fekt:link {
        color: blue;
    }
    
    a.fekt:visited {
        color: #5274ff;
    }
    
    a.fekt:hover {
        color: #00156b;
    }
    
    a.fekt:active {
        color: #5274ff;
    }
</style>

<div class="text-center">
    <h1 class="display-4">FIRIOS</h1>
    <p>Aplikace vytvořená jako bakalářská práce na  <a class="vut" href="https://www.vut.cz">Vysokém učení technickém v Brně</a> 
        na <a class="fekt" href="https://www.fekt.vut.cz">Fakultě elektrotechniky
        a komunikačních technologií</a> a má sloužit dobrovolných hasičům pro lepší organizaci výjezdů.</p>
    <p>Application made as bachleros degree project at <a class="vut" href="https://www.vut.cz">Brno University of Technology</a> at 
        <a class="fekt" href="https://www.fekt.vut.cz">Faculty of Electrical Engineering and Communication</a> 
        and is made to by used by volunteer firefighters for better organization.</p>
</div>
