<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Firios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/Firios.styles.css" asp-append-version="false" />
    
    <!-- PWA -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#FFFFFF"/>
    <link rel="apple-touch-icon" href="/images/icon-192x192.png">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Firios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Domů</a>
                    </li>
                    @if (Context.Items.ContainsKey("user"))
                    {
                        
                        @if (!Context.Items.ContainsKey("monitor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Uživatelé</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="Index">Výjezdy</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InteractiveIncident">Monitor</a>
                        </li>
                    }
                    @if (Context.Items.ContainsKey("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Notifiers">Oznamovače</a>
                        </li>
                    }
                    @if (!Context.Items.ContainsKey("user"))
                    {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    }
                </ul>
                @if (Context.Items.ContainsKey("user"))
                {
                    <span style="display: none" id="PWA_ServerKey">@Context.Items["PWA_ServerKey"]</span>
                    @if (!Context.Items.ContainsKey("monitor"))
                    {
                        <button type="button" id="notificationTopMenu" class="btn btn-outline-primary" style="margin-right: 5px">Notifikace</button>
                    }
                    <form asp-controller="User" asp-action="Logout" class="form-inline my-2 my-lg-0">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="mr-sm-2">
                                @if (!Context.Items.ContainsKey("monitor"))
                                {
                                    <a class="text-dark" asp-area="" asp-controller="User" asp-action="ChangeUserPassword" style="text-decoration: none">@Context.Items["user"]</a>
                                }
                                else
                                {
                                    <span>Monitor</span>
                                }
                            </label>
                            <input type="submit" value="Odhlášení" class="btn btn-primary my-2 my-sm-0"/>
                        </div>
                    </form>
                }
                else
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Přihlášení</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@if (!Context.Items.ContainsKey("monitor"))
{
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Firios - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="false"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
